body {
	background-color: #f8f8ff;
	font-family: Tahoma, Geneva, sans-serif;
}

h1 {
	font-size: 2em;
	font-family: Tahoma, Geneva, sans-serif;
	color: #002244;
	text-align: center;
}

#wrapper { 
	border:1px solid #A5ACAF; 
	margin:0 auto; 
	padding:35px 40px 15px 40px; 
	text-align:left; 
	max-width: 1000px; 
	height: auto;
}

#slider {
	margin: 0 auto;
	width: 800px;
	height: 266px;
}

#footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	clear: both;
	text-align: center;
	position: relative; /*changed from absolute to relative in order to accomodate for large slider sizes */
	bottom: 0;
	width: 920px;
/*	height: 40px; */
/*	padding-top: 5px;
	padding-right: 20px; */
	padding: 0 20px;
	margin: 5px;
/*	background-color: #A5ACAF; */
	background: url(topnav_bg.gif) repeat-x;
/*	border: solid #002244; */
	border: solid #A5ACAF; 
	color: white;
/*	color: #002C5F; */
	/*margin-left: 20px; */ /*added margin after changing to relative so it's centeredon page */
}

#footer a:link {
	text-decoration: none;
	color: white;
}

#footer a:visited {
	color: white;
}

#column-left {
	float: left;
	position: relative;
	width: 270px;
	height: 700px;
	margin: 23px;
	padding: 5px; 
	color: #002244;
	background-color: #A5ACAF;
}

.content {
	width: 800px; 
	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	padding-left: 5px;
	padding-top: 25px;
	margin: 25px;
}

p {
	padding: 5px;
}

.serviceslist {
	padding-left: 10px;
}

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
/*	width:100%;
	height:auto; */
	overflow: hidden; 
	background:#fff url(loading.gif) no-repeat 50% 50%;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 55px 0px #4a4a4a;
	width:800px;
	height:532px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.4;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;z
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:15px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
	background:url(bullets.png) no-repeat;
}
.nivo-controlNav a.active {
	font-weight:bold;
} 

/* Nav bar styles */

ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 5px; 
	float: left;
	width: 920px; 
	background: #222;
	font-size: 1.2em;
	background: url(topnav_bg.gif) repeat-x;
	border: solid #A5ACAF; 
}
ul.topnav li {
	float: left;
	margin-left: 75px;	/*changed from margin: 0 to margin-left: 60px */
	padding: 0px 35px 0px 35px; /* changed right from 15px to 35px and left from 0px to 35px */
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 5px 5px 5px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	/*background: url(topnav_hover.gif) no-repeat center top;*/ /*removing this to test out feature w/o an image */
	background: #A5ACAF;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
/*	background: url(subnav_btn.gif) no-repeat center top; */
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 /*url(dropdown_linkbg.gif)*/ no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 /*url(dropdown_linkbg.gif)*/ no-repeat 10px center; 
}
