body {
	background-color: #f8f8ff;
	font-family: Tahoma, Geneva, sans-serif;
}

h1 {
	font-size: 2em;
	font-family: Tahoma, Geneva, sans-serif;
	color: #002244;
	text-align: center;
}

#wrapper { 
	border:1px solid #A5ACAF; 
	margin:0 auto; 
	padding:0px 40px 15px 40px; 
	text-align:left; 
	max-width: 1000px; 
	height: auto;
}

#slider {
	margin: 0 auto;
	width: 800px;
	height: 266px;
	margin-bottom: 20px;
}

.rdCaptionBox { 
	margin:0 auto; 
	margin-bottom: 20px;
	padding:0; 
	position:relative; 
	top:3px; 
	left:0; 
	z-index:10; 
	width:800px; 
	height:270px; 
}

.rdCaption { 
	position:absolute; 
	bottom:0; 
	left:0; 
	padding:4px; 
	width:800px; 
	height:270px;
	z-index:11; 
}

.rdCaptionText { 
	position: relative;
	margin:0;  
	top: -32px;
	padding: 5px 10px;
	z-index:11; 
	opacity: 0.8;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em; 
	background-color: black;
	color:white; 
}

.rdCaptionText a:link {
	text-decoration: none;
	color: white;
}

.rdCaptionText a:visited {
	color: white;
}

#footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	clear: both;
	overflow:auto;
	text-align: center;
	position: relative; /*changed from absolute to relative in order to accomodate for large slider sizes */
	bottom: 0;
	width: 920px;
	max-width: 98%;
	height: 38px;
	padding: 0 20px;
	margin: 5px;
	background: url(topnav_bg.gif) repeat-x;
	border: solid #A5ACAF; 
	color: white;
}

#footer a:link {
	text-decoration: none;
	color: white;
}

#footer a:visited {
	color: white;
}

#column-left {
	float: left;
	position: relative;
	width: 270px;
	height: 480px;
	margin: 23px;
	padding: 5px; 
	color: #002244;
	background-color: #A5ACAF;
}

#column-left img {
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 55px 0px #4a4a4a;
	margin-right: auto;
	margin-left: auto;
	padding: 4px;
}

.content {
	width: 800px; 
	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	padding-left: 5px;
	padding-top: 45px;
	margin: 25px;
}

p {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
}

.serviceslist {
	padding-left: 10px;
}

.frontimg {
	float: left;
	padding: 5px;
}


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	overflow: hidden; 
	background:#fff url(loading.gif) no-repeat 50% 50%;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 55px 0px #4a4a4a;
	width:800px;
	height:532px;

}

.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;z
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.nivo-caption a:link {
	text-decoration: none;
	color: white;
}

.nivo-caption a:visited {
	color: white;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:15px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
	background:url(bullets.png) no-repeat;
}
.nivo-controlNav a.active {
	font-weight:bold;
} 

/* Nav bar styles */

ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 5px; 
	float: left;
	width: 920px;
	max-width: 98%;
	background: #222;
	font-size: 1.2em;
	background: url(topnav_bg.gif) repeat-x;
	border: solid #A5ACAF; 
}
ul.topnav li {
	float: left;
	margin-left: 75px;	/*changed from margin: 0 to margin-left: 60px */
	padding: 0px 35px 0px 35px; /* changed right from 15px to 35px and left from 0px to 35px */
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 5px 5px 5px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	/*background: url(topnav_hover.gif) no-repeat center top;*/ /*removing this to test out feature w/o an image */
	background: #A5ACAF;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
/*	background: url(subnav_btn.gif) no-repeat center top; */
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 /*url(dropdown_linkbg.gif)*/ no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 /*url(dropdown_linkbg.gif)*/ no-repeat 10px center; 
}

.current {
	background: #A5ACAF;
}

/* Tag cloud */

	#tags ul{
		margin:1em 0;
		padding:.5em 10px;
		text-align:center;
	/*	background:#71b5e9 url(bg_tags.gif) repeat-x;		*/
		}
	#tags li{
		margin:0;
		padding:0;
		list-style:none;
		display:inline;
		}
	#tags li a{
		text-decoration:none;
		color:#fff;
		padding:0 2px;	
		}
	#tags li a:hover{	
		color: #69BE28;
		}		
	
	.tag1{font-size:100%;}
	.tag2{font-size:120%;}
	.tag3{font-size:140%;}
	.tag4{font-size:160%;}
	.tag5{font-size:180%;}
	
	/* alternative layout */

	#tags .alt{
		text-align:left;
		padding:0;
		background:none;
		}
	#tags .alt li{
		padding:2px 10px;
		background:#efefef;
		display:block;
		}
	#tags .alt .tag1, 
	#tags .alt .tag2, 
	#tags .alt .tag3, 
	#tags .alt .tag4, 
	#tags .alt .tag5{font-size:100%;}
	#tags .alt .tag1{background:#7cc0f4;}
	#tags .alt .tag2{background:#67abe0;}
	#tags .alt .tag3{background:#4d92c7;}
	#tags .alt .tag4{background:#3277ad;}
	#tags .alt .tag5{background:#266ca2;}
	
/* // Tag cloud */
